/* -body */

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    background-color: #f4f4f4;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #555555;
}

/* --container */

.container {
    padding: 10em;
    max-width: 1200px;
    min-width: 300px;
    border: 5px solid #555555;
    box-shadow: grey;
    border-radius: 10px;
}

/* ---header */

.header {
    background-color: white;
    text-align: center;
}

/* ----header__logo-title */

.header__logo-title {

}

/* -----header__logo  */

.header__logo {

}

/* END -----header__logo INSERT LOGO!!! */

/* -----header__title */

.header__title {

}

/* END -----header__title */

/* END ----header_logo-title */

/* END ---header */

/* ---menu */

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ----box */

.box {
    border-radius: 10px;
    margin: 10px 10px;
    float: left;
    width: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* -----box__title */

.box__title {

}

/* ------box__logo */

.box__logo {

}

/* END ------box__logo */

/* ------box__name */

.box__name {

}

/* END ------box__name */

/* END -----box__title */

/* -----box__text */

.box__text {

}

/* END -----box__text */

/* Box modificators for ---menu */

.box_blue {
    background-color: dodgerblue;
    color: white;
}

.box_green {
    background-color: mediumspringgreen;
    color: white;
}

.box_yellow {
    background-color: gold;
    color: black;
}

.box_big {
    width: 70px;
    height: 60px;
}

/* END Box modificators for ---menu */

/* END ----box */

/* END ---menu */

/* ---elements */

.elements {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Box modificators for ---elements */

.box_small {
    width: 70px;
    height: 30px;
}

/* END Box modificators for ---elements */

/* END ---elements */

/* END --container */

/* END -body */




@media screen and (min-width: 320px) and (max-width: 1200px) {
    .menu {
        box-shadow: grey;
        border-radius: 10px;
        border: 50px solid #555555;
        padding: 10em;
        max-width: 1200px;
        min-width: 300px;
    }
}