/* -body */

body {
    margin: 0;
    width: 100%;
    background-color: #f4f4f4;
    line-height: 1.6em;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #555555;
}

/* --container */

.container {
    background-color: #ffffff;
}

/* ---header */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----header__logo-title */

.header__logo-title {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* -----header__logo  */

.header__logo {
}

/* END -----header__logo INSERT LOGO!!! */

/* -----header__title */

.header__title {
    margin: 0;
}

/* END -----header__title */

/* END ----header_logo-title */

/* END ---header */

/* ---menu */

.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
}

/* ----box */

.box {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
}

/* -----box__title */

.box__title {
    margin: 0;
    display: inline-block;
}

/* ------box__logo */

.box__logo {
    margin: 0;
}

/* END ------box__logo */

/* ------box__name */

.box__name {
    margin: 0;
}

/* END ------box__name */

/* END -----box__title */

/* -----box__text */

.box__text {
    margin: 0;
}

/* END -----box__text */

/* Box modificators for ---menu */

.box_blue {
    background-color: dodgerblue;
    color: white;
}

.box_green {
    background-color: mediumspringgreen;
    color: white;
}

.box_yellow {
    background-color: gold;
    color: black;
}

.box_big {
    width: 100%;
    height: auto;
}

/* END Box modificators for ---menu */

/* END ----box */

/* END ---menu */

/* ---elements */

.elements {
    flex-flow: row wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-flow: row wrap;
}

/* Box modificators for ---elements */

.box_small {

}

/* END Box modificators for ---elements */

/* END ---elements */

/* END --container */

/* END -body */




@media screen and (min-width: 320px) and (max-width: 1200px) {
    .menu {
        box-shadow: grey;
        border-radius: 10px;
        border: 50px solid #555555;
        padding: 10em;
        max-width: 1200px;
        min-width: 300px;
    }
}